<div
  class="col-span-2 rounded-lg border border-white/5 bg-neutral-950 p-6 shadow-sm"
>
  <h3
    class="flex items-center border-b border-white/5 pb-4 text-xl font-semibold leading-none text-white md:pb-6"
  >
    Podaci o nalogu
  </h3>
  <div class="my-4 grid gap-4 md:my-6 md:grid-cols-2 md:gap-12">
    <div class="space-y-4">
      <div class="flex items-center space-x-4">
        @if (data().email) {
          <img ngxGravatar [email]="data().email" class="h-16 w-16" alt="user" />
        } @else {
          <span
            class="text-white text-lg font-medium flex items-center justify-center rounded-full w-8 h-8 bg-neutral-800"
          >
            {{ data().name.charAt(0) }}
          </span>
        }
        <div>
          <span
            class="me-2 rounded bg-primary-900 px-2.5 py-0.5 text-xs font-medium text-primary-300"
          >
            {{ data().role | titlecase }}
          </span>
          <h3 class="text-2xl font-bold tracking-tight text-white">
            {{ data().name }}
          </h3>
        </div>
      </div>
      <dl>
        <dt class="font-semibold text-white">Email Address</dt>
        <dd class="text-neutral-400">{{ data().email }}</dd>
      </dl>
      <dl>
        <dt class="font-semibold text-white">Linkedin</dt>
        <dd class="text-neutral-400">
          @let linkedInUrl = data().linkedInUrl;
          @if (linkedInUrl) {
            <a [href]="linkedInUrl" target="_blank" class="text-primary-400 hover:text-primary-300">
              {{ linkedInUrl }}
            </a>
          } @else {
            Unesi podatak
          }
        </dd>
      </dl>
      <dl>
        <dt class="font-semibold text-white">Github</dt>
        <dd class="text-neutral-400">
          @let gitHubUrl = data().gitHubUrl;
          @if (gitHubUrl) {
            <a [href]="gitHubUrl" target="_blank" class="text-primary-400 hover:text-primary-300">
              {{ gitHubUrl }}
            </a>
          } @else {
            Unesi podatak
          }
        </dd>
      </dl>
    </div>

    <app-profile-pro-card [membershipStatus]="data().membershipStatus" />
  </div>
  <div class="border-t border-white/5 pt-4 md:pt-6">
    <button
      type="button"
      class="inline-flex w-full items-center justify-center rounded-lg bg-primary-400 px-5 py-2.5 text-sm font-medium text-black hover:bg-primary-300 focus:outline-none focus:ring-4 focus:ring-primary-800 sm:w-auto"
      (click)="openProfileInformationDialog()"
    >
      <svg
        class="-ms-0.5 me-1.5 h-4 w-4"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
        />
      </svg>
      Ažuriraj podatke
    </button>
  </div>
</div>

<app-profile-information-dialog [id]="id" (closeClick)="closeProfileInformationDialog()" />
